<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chart</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-screen bg-sky-50 p-20">
    <div class="max-w-[1200px] mx-auto w-full center p-10 bg-white rounded-xl shadow-xl">
      <nav class="mb-10 flex items-center">
        <img class="w-[125px]" src="../static/logo.svg" />
        <div class="w-full justify-end flex gap-7">
          <a href="index.html" class="text-lg font-semibold">Inicio</a>
          <a href="support.html" class="text-lg font-semibold">Soporte</a>
          <a href="account.html" class="text-lg font-semibold">Mi Cuenta</a>
          <img class="w-[20px]" src="../static/nav-lines.png" />
        </div>
      </nav>

      <div class="flex">
        <div
          class="transform -translate-x-[65px] p-4 flex flex-col gap-7 rounded-full bg-[#F8C738]"
        >
          <img class="w-[20px]" src="../static/bar-message.png" />
          <img class="w-[20px]" src="../static/bar-fact.png" />
          <img class="w-[20px]" src="../static/bar-signal.png" />
          <img class="w-[20px]" src="../static/bar-menu.png" />
          <img class="w-[20px]" src="../static/bar-question.png" />
        </div>

        <div class="flex flex-wrap gap-10">
          <!-- Card -->
          <div class="bg-white rounded-xl shadow-xl divide-y-2 divide-gray-300">
            <div class="p-5 flex flex-col gap-3">
              <div class="flex gap-10 justify-between items-center">
                <span class="text-md">Bonificación Black+Decker</span>
                <img
                  class="h-[25px]"
                  src="../static/tools.png"
                />
              </div>
              <span class="text-3xl font-bold">85000</span>
            </div>
            <div class="p-5 flex flex-col gap-3">
              <div class="flex items-center">
                <div class="w-[73%] h-[5px] rounded-l-full bg-[#F8C738]"></div>
                <span class="mx-2 text-xs font-semibold">73%</span>
                <div class="w-[37%] h-[5px] rounded-r-full bg-gray-300"></div>
              </div>
              <span class="text-sm font-semibold">Avance de bonificiacion</span>
            </div>
          </div>
          <!-- Card -->
          <div class="bg-white rounded-xl shadow-xl divide-y-2 divide-gray-300">
            <div class="p-5 flex flex-col gap-3">
              <div class="flex gap-10 justify-between items-center">
                <span class="text-md">Bonificación Black+Decker</span>
                <img
                  class="h-[25px]"
                  src="../static/tools.png"
                />
              </div>
              <span class="text-3xl font-bold">85000</span>
            </div>
            <div class="p-5 flex flex-col gap-3">
              <div class="flex items-center">
                <div class="w-[73%] h-[5px] rounded-l-full bg-[#F8C738]"></div>
                <span class="mx-2 text-xs font-semibold">73%</span>
                <div class="w-[37%] h-[5px] rounded-r-full bg-gray-300"></div>
              </div>
              <span class="text-sm font-semibold">Avance de bonificiacion</span>
            </div>
          </div>
          <!-- Card -->
          <div class="bg-white rounded-xl shadow-xl divide-y-2 divide-gray-300">
            <div class="p-5 flex flex-col gap-3">
              <div class="flex gap-10 justify-between items-center">
                <span class="text-md">Bonificación Black+Decker</span>
                <img
                  class="h-[25px]"
                  src="../static/tools.png"
                />
              </div>
              <span class="text-3xl font-bold">85000</span>
            </div>
            <div class="p-5 flex flex-col gap-3">
              <div class="flex items-center">
                <div class="w-[73%] h-[5px] rounded-l-full bg-[#F8C738]"></div>
                <span class="mx-2 text-xs font-semibold">73%</span>
                <div class="w-[37%] h-[5px] rounded-r-full bg-gray-300"></div>
              </div>
              <span class="text-sm font-semibold">Avance de bonificiacion</span>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
  </body>
</html>
